
ul {
    margin: 0;
    padding:0;
}

#container {
    display: grid;
    grid: repeat(2, 60px) / auto-flow 80px;
  }
  
  #container > div {
    background-color: #8ca0ff;
    width: 100px;
    height: 150px;
  }
   
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}

  